.piece-selector {
  max-width: 270px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 132, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.select-piece {
  max-width: 632px;
  width: 100%;
}

.piece-selector-box {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.piece-options {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.piece-options input[type='radio'] {
  display: none;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.piece:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.piece-options input[type='radio']:checked + .piece {
  border: 3px solid #333;
  box-shadow: 0 0 8px 2px rgba(128, 0, 128, 0.5);
}

.red-piece {
  background-color: red;
  border: 2px solid white;
}

.yellow-piece {
  background-color: yellow;
  border: 2px solid white;
}

.green-piece {
  background-color: green;
  border: 2px solid white;
}

.purple-piece {
  background-color: purple;
  border: 2px solid white;
}

.rainbow-piece {
  background: linear-gradient(
    135deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border: 2px solid white;
}
