.GameMenu-container,
.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 50px 20px;
}
/* Adicione isso ao seu arquivo de estilos */

.button {
  text-decoration: none; /* Remove sublinhado do link */
  display: inline-block;
  margin: 20px 0;
}

.button button {
      border: 2px solid white;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    /* border: none; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    min-width: 175px;
}

.button button:hover {
  background-color: #45a049; /* Verde mais escuro no hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title-welcome {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.how-to-play-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  /* margin-top: 20px; */
}

.how-to-play-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.how-to-play-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.how-to-play-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.instructions-box {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #e5f3ff;
  font-size: 1rem;
  text-align: left;
}

.instructions-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.instructions-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.instructions-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

.instructions-text {
  font-size: 16px;
  color: #444;
}

.game-tip {
  margin-top: 2rem;
  padding: 0.8rem;
  background: #fff8e1;
  border-radius: 8px;
  color: #e67e22;
  font-size: 0.9rem;
}

